{% extends 'details/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2 class="m-0" id="leaderboardTitle">
                <span class="search-input-wrapper">
                    <i class="fa fa-search"></i>
                    <input type="text" class="search-input" placeholder="search username" oninput="search(event.target.value)">
                </span>
                shortlisted
            </h2>
            <p class="m-0 mb-4 paragraph-small">
                <span class="text-orange text-weight-bold">voting open!</span> last date to submit your votes : <span class="text-weight-bold">aug 25, 2020</span>
            </p>
        </div>
    </div> 
    <div id="content" class="row"></div>
    <template>
        <div class="col-sm-6 col-3 mb-4">
            <div class="entry-item flex">
                <img id="thumbs" class="img-fluid entry-thumbnail"> 
                <div class="entry-details show-on-desktop">
                    <span style="float: right;">
                        <i class="fa fa-fw fa-heart text-smoke text-lighten"></i> 
                        <span class="text-smoke text-lighten" id="insta_likes"></span>
                    </span>
                    <img id="thumbs" class="img-fluid mb-2" style="width: 25%; border-radius: 8px;"> 
                    <div class="flex mb-2" style="align-items: center;">
                        <img id="profile_pic" class="img-fluid mr-2" style="width: 12.5%; border-radius: 50%;"> 
                        <span id="insta_id" class="paragraph-small text-weight-bold text-smoke insta_id"></span>
                    </div>
                    <div class="paragraph-small text-smoke text-lighten" id="caption"></div>
                    <span style="position: absolute; bottom: 0;">
                        <img src={% static "gallery/assets/standing.svg" %} id="standing" alt="standing" class="mr-1">
                        <span class="leaderboard-rank"></span>
                    </span>
                    <a id="upvote-link"  target="_blank">
                        <button class="btn btn-upvote-entry btn-green">upvote</button>
                    </a>   
                </div>
            </div>
        </div>
    </template>
    <div class="text-center" id="loading-icon">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw text-orange mb-2"></i>
        <br>
        <span class="text-weight-bold text-orange">loading</span>
    </div>
    <div class="text-center hidden" id="search-empty-text">
        <i class="fa fa-exclamation fa-2x fa-fw text-orange mb-2"></i>
        <br>
        <span class="text-weight-bold text-orange">no entries found</span>
    </div>
</div>

<!-- Preview modal  -->
<div id="previewModal" class="modal flex-col">

    <div class="text-center my-3">
        <div class="modal-close-btn" id="modalCloseBtn">
            <i class="fa fa-times fa-lg m-2 text-lighten"></i>
        </div>
    </div>

    <!-- Modal content -->
    <div class="modal-content flex-grow-1">
        <div class="flex mb-2">
            <div class="flex-grow-1">
                <p class="text-smoke m-0 paragraph-small paragraph-big" id="modal_username">leader.username</p>
                <span class="text-smoke paragraph-small text-lighten"><i class="fa fa-heart text-smoke"></i>
                <span id="modal_likes" class="text-smoke paragraph-small text-lighten">leader.likes</span></span>
            </div>
            <div class="leaderboard-rank">
                01
            </div>
        </div>
        <div class="modal-frame mb-3 flex">
            <img class="img-fluid" alt="" id="modelFramePreviewImg">
        </div>
        <div class="text-center">
            <a href="" target="_blank">
                <button class="btn btn-green mb-2">
                    upvote on instagram
                </button>
            </a>
        </div>
        <p class="paragraph-small text-smoke text-lighten text-center m-0">
            to upvote, visit instagram and hit <i class="fa fa-heart text-smoke"></i>
        </p>
    </div>
  
</div>

<script src={% static "gallery/scripts/entries.js" %} defer></script>

{% endblock content %}