{% extends 'details/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2 class="m-0" id="leaderboardTitle">
                <input type="text" class="search-input" placeholder="Search by username" oninput="search(event.target.value)">
                shortlisted
            </h2>
            <p class="m-0 mb-4 paragraph-small">
                <span class="text-orange text-weight-bold">voting open!</span> last date to submit your votes : <span class="text-weight-bold">aug 25, 2020</span>
            </p>
        </div>
    </div> 
    <div class="row">
        {% for leader in leaderboard %}
            <div class="col-sm-6 col-3 mb-4">
                <div class="entry-item flex">
                    <img src="{{leader.thumbnail.url}}" class="img-fluid entry-thumbnail"> 
                    <div class="entry-details show-on-desktop">
                        <span style="float: right;">
                            <i class="fa fa-fw fa-heart text-smoke text-lighten"></i> 
                            <span class="text-smoke text-lighten" id="insta_likes"> {{leader.likes}} </span>
                        </span>
                        <img src="{{leader.thumbnail.url}}" class="img-fluid mb-2" style="width: 25%; border-radius: 8px;"> 
                        <div class="flex mb-2" style="align-items: center;">
                            <img src="{{leader.profile_pic.url}}" class="img-fluid mr-2" style="width: 12.5%; border-radius: 50%;"> 
                            <span class="paragraph-small text-weight-bold text-smoke insta_id">{{leader.insta_id}}</span>
                        </div>
                        <div class="paragraph-small text-smoke text-lighten">
                            {% if leader.caption != '#' %}
                                {{ leader.caption|truncatechars:120 }}
                            {% endif %}
                        </div>
                        <span style="position: absolute; bottom: 0;">
                            <img src={% static "gallery/assets/standing.svg" %} alt="standing" class="mr-1">
                            <span class="leaderboard-rank">
                                {% if leader.standing <= 9 %}
                                    00{{leader.standing}}
                                {% elif leader.standing <= 99 %}
                                    0{{leader.standing}}
                                {% else %}
                                    {{leader.standing}}
                                {% endif %}
                            </span>
                        </span>
                        <button class="btn btn-upvote-entry btn-green">upvote</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Preview modal  -->
<div id="previewModal" class="modal flex-col">

    <div class="text-center my-3">
        <div class="modal-close-btn" id="modalCloseBtn">
            <i class="fa fa-times fa-lg m-2 text-lighten"></i>
        </div>
    </div>

    <!-- Modal content -->
    <div class="modal-content flex-grow-1">
        <div class="flex mb-2">
            <div class="flex-grow-1">
                <p class="text-smoke m-0 paragraph-small paragraph-big" id="modal_username">leader.username</p>
                <span class="text-smoke paragraph-small text-lighten"><i class="fa fa-heart text-smoke"></i>
                <span id="modal_likes" class="text-smoke paragraph-small text-lighten">leader.likes</span></span>
            </div>
            <div class="leaderboard-rank">
                01
            </div>
        </div>
        <div class="modal-frame mb-3 flex">
            <img class="img-fluid" alt="" id="modelFramePreviewImg">
        </div>
        <div class="text-center">
            <a href="">
                <button class="btn btn-green mb-2">
                    upvote on instagram
                </button>
            </a>
        </div>
        <p class="paragraph-small text-smoke text-lighten text-center m-0">
            to upvote, visit instagram and hit <i class="fa fa-heart text-smoke"></i>
        </p>
    </div>
  
</div>

<script src={% static "gallery/scripts/entries.js" %} defer></script>

{% endblock content %}