{% extends 'details/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <h2 class="m-0">leaderboard</h2>
            <p class="mt-0 paragraph-small"><span class="text-orange text-weight-bold" id="refreshStatus"></span></p>
            <ul class="m-0 p-0" id="rank-list">
                {% for leader in leaderboard %}
                <div class="leaderboard-list-item p-2" id="list-item">
                    <div class="mr-2">
                        <img src="{{leader.thumbnail.url}}" class="leaderboard-thumbnail"> 
                        <img src="{{leader.profile_pic.url}}" class="leaderboard-profile-pic">
                    </div>
                    <div class="flex-grow-1">
                        <p class="m-0 paragraph-small paragraph-big">{{leader.insta_id}}</p>
                        <span class="paragraph-small text-lighten"><i class="fa fa-heart"></i> {{leader.likes}}</span>
                    </div>
                    <div>
                        <span class="leaderboard-rank">
                            {{ forloop.counter }}
                        </span>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
        <div class="col-5 flex-col show-on-desktop">
            <div class="leaderboard-preview-box">
                <div id="blankPreview" class="p-5">
                    <h4 class="m-0 text-orange mb-3">
                        leaderboard shows the current trend based likes received on instagram. to upvote an entry, visit instagram and hit <i class="fa fa-heart fa-fw text-orange"></i>
                    </h4>
                    <p class="paragraph-main mt-0 text-lighten text-smoke">
                        top three positions after the voting ends will get ₹10,000 each. apart from these, three more entries will be picked by a curator panel.
                    </p>
                </div>
                <div id="framePreview">
                    <img src="https://i.picsum.photos/id/238/400/400.jpg" alt="image" class="img-fluid" id="framePreviewImg">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Preview modal  -->
<div id="previewModal" class="modal flex-col">

    <div class="text-center my-3">
        <div class="modal-close-btn" id="modalCloseBtn">
            <i class="fa fa-times fa-lg m-2 text-lighten"></i>
        </div>
    </div>

    <!-- Modal content -->
    <div class="modal-content flex-grow-1">
        <div class="flex mb-3">
            <div class="flex-grow-1">
                <p class="text-smoke m-0 paragraph-small paragraph-big">leader.username</p>
                <span class="text-smoke paragraph-small text-lighten"><i class="fa fa-heart text-smoke"></i> leader.likes</span>
            </div>
            <div class="leaderboard-rank">
                01
            </div>
        </div>
        <div class="modal-frame mb-3 flex">
            <img class="img-fluid" alt="" id="modelFramePreviewImg">
        </div>
        <div class="text-center">
            <a href="">
                <button class="btn btn-green mb-3">
                    upvote on instagram
                </button>
            </a>
        </div>
        <p class="paragraph-small text-smoke text-lighten text-center m-0">
            to upvote, visit instagram and hit <i class="fa fa-heart text-smoke"></i>
        </p>
    </div>
  
</div>

{% endblock content %}