* {
    color: #3B261E;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f7f7f7;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.border {
    border: 1px solid rgba(0, 0, 0, .1);
}

.hero-area {
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
}

.hero-title {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: small;
}

.text-lg {
    font-size: large;
}

.text-bold {
    font-weight: bold;
}

.text-secondary {
    opacity: 0.8;
}

.text-light {
    color: #f5e9d3;
}

.bg-light {
    background-color: #f5e9d3;
}

.bg-brown {
    background-color: #3B261E;
}

.bg-light-orange {
    background-color: #F9C893;
}