{% load static %}
<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paint Your Blues</title>
    
    <link rel="stylesheet" href={% static 'details/styles/aether.css' %}>
    <link rel="stylesheet" href={% static 'details/styles/styles.css' %}>
    <link rel="stylesheet" href="https://use.typekit.net/aec8kbg.css">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>